
h1{
   text-shadow: 5px 5px 10px black; 
   font-family:  "Libre Baskerville", serif;
   padding-left: 40px;
}
h3{
   font-family:  "Libre Baskerville", serif;
}
.logo{
       font-family:  "Libre Baskerville", serif;
}

p{
    font-family:  "Libre Baskerville", serif;

}

.container-fluid{
    background-color: black;
    margin-top: -10px;
    margin-bottom: -10px;
}
.nav-link{
    font-family:  "Libre Baskerville", serif;
	color: #f9f9f9;
    margin-left: 150px;
    font-size: 20px;
}
.btn{
    background-color: #444343;
    padding: 7px 28px;
    border-radius: 20px;
    border: none;
	color: #fafafa;	
}
.btn:hover{
	opacity:0.8;
	background-color: gray!important;
}

img{
	max-width:100%;
	max-height: 100%;
}
.nav-link:hover{
	color: #707070;
}
#intro .jumbotron{
	background: url('../pictures/mainbg.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;
}

#intro .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}
#intro .btn{
	margin-top: 20px;
}
.navbar-toggler{
	background-color: #707070;
	color: #707070;
	border-radius: 20px;
}
.container2 {
    /* 這裡設定一個背景圖片，讓模糊效果有東西可以作用 */
    background-image: url("../img/背景2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-11 {
    background-color: rgba(255, 255, 255, 0.3); /* 半透明白色背景 */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 100px;
    /* 核心代碼：應用背景濾鏡 */
    backdrop-filter: blur(5px); 
    
    /* 針對舊版 Safari 的兼容性前綴 */
    -webkit-backdrop-filter: blur(10px); 
}
.container4{
    font-family:  "Libre Baskerville", serif;

}

a{
    text-decoration: none;
    color: rgb(247, 243, 243);
}

.container5 {
    background-color: #070707;
    color: #f9f9f9;
    padding: 20px 0;
    margin-top: 50px;
}